html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
--veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
--veryDarkGrayishBlue: hsl(213, 9%, 39%);
--darkGrayishBlue: hsl(232, 10%, 55%);
--grayishBlue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
--softRed: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--darkDesaturatedCyan: hsl(167, 40%, 24%);
--darkBlue: hsl(198, 62%, 26%);
--darkModerateCyan: hsl(168, 45%, 61%);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: 'Barlow', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fraunces', serif;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

h2 {
  font-weight: 900;
}

.button {
  font-family: 'Fraunces', serif;
  padding: 1rem 2rem;
  color: black;
  background-color: var(--white);
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
}

.button:hover {
  background-color: skyblue;
  color: var(--white);
}

.hide-links {
  display: none;
}

.header {
  margin: 0 auto;
  background-image: url("/images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 25.5rem;
  color: var(--white);
}

.header h1 {
  text-transform: uppercase;
}

.header nav {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header__links a {
  margin-right: 2rem;
  font-size: 0.88rem;
  
}
.header__links a:not(:last-child) {
  color: var(--white);
} 

.header__links a:hover {
  background-color: skyblue;
  color: var(--white);
}

.header__links2 {
  position: absolute;
  top: 13%;
  width: calc(100% - 15%);
  left: 50%;
  transform: translate(-50%);
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
}

/* .header__links2::after{
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  top: -10px;
  right: 0px;
  background-color: chartreuse;
} */

.header__links2 a {
  display: block;
  color: var(--veryDarkDesaturatedBlue);
  padding: 0.625rem;
  text-align: center;
}

.header__links2 .button {
  background: var(--yellow);
  padding: 0.5rem 0.5rem;
}

.header__text {
  margin-top: 1rem;
  text-align: center;
}

.highlight__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 17.5rem;
}
.image1 {
  background-image: url("/images/mobile/image-transform.jpg");
}

.image2 {
  background-image: url("/images/mobile/image-stand-out.jpg");
}

.text {
  padding: 2.5rem;
  text-align: center;
  line-height: 1.5;

}
.text p {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--darkGrayishBlue);
}
.learn {
  text-transform: uppercase;
}

.learn::after{
  content: "";
  display: block;
  position: absolute;
  height: 9px;
  width: 125px;
  right: 30%;
  margin-top: -9px;
  background-color: var(--softRed);
  border-radius: 10px;
  opacity: 0.5;
}
.flex-item2>.learn:after{
  background-color: var(--yellow);
}
.graphics__img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30.5rem;
}

.image3 {
  background-image: url("/images/mobile/image-graphic-design.jpg");
}

.image4 {
  background-image: url("/images/mobile/image-photography.jpg");
}
.graphics__text {
  color: var(--veryDarkDesaturatedBlue);
  position: absolute;
  top: 60%;
  padding: 1rem;
}

.testimonials {
  padding: 1.5rem;
  text-align: center;
}
.testimonials-heading{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--veryDarkGrayishBlue);
}

.clients {
  padding-top: 2.25rem;
}

.clients img {
  height: 5rem;
  border-radius: 50%;
}
h5 {
  margin-bottom: 0.25rem;
}

.testimony {
  font-size: 0.875rem;
  color: var(--veryDarkGrayishBlue);
}
.position {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: var(--veryDarkGrayishBlue);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  
}

.pictures {
  height: 10.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer {
  background-color: var(--darkModerateCyan);
  padding: 1.5rem;
  text-align: center;
}

.footer__links a{
  margin-right: 2rem;
  font-size: 0.88rem;
  color: var(--veryDarkGrayishBlue);
}
.foot_logo {
  padding-bottom: 2rem;
}
.social__links a {
  display: inline-block;
  padding: 0.5rem;
  
}

@media (max-width: 39.9375em) {
  .deskstop-menu {
    display: none;
  }
}

@media (min-width: 40em) {
  .header {
    background-image: url("/images/desktop/image-header.jpg");
    min-height: 27.5rem;
  }
  .header__text {
    margin-top: 3.125rem;
  }
  .header__text img {
    margin-top: 0.5rem;
  }

  .mobile-menu {
    display: none;
  }
  
  .image1 {
    background-image: url("/images/desktop/image-transform.jpg");
  }
  
  .image2 {
    background-image: url("/images/desktop/image-stand-out.jpg");
  }

  .highlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .learn::after{
    right: 20%;
  }
  .flex-item2>.learn:after{
    right: 70%;
  }

  .flex-item1 {
    order: 2;
  }
  .flex-item2 {
    order: 1;
  }
  .flex-item3 {
    order: 3;
  }
  .flex-item4 {
    order: 4;
  }
  .graphics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .image3 {
    background-image: url("/images/desktop/image-graphic-design.jpg");
  }
  
  .image4 {
    background-image: url("/images/desktop/image-photography.jpg");
  }
  .clients__container {
    padding: 3rem;
    display: flex;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .pictures {
    height: 20.5rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
  .header {
    min-height: 35.5rem;
  }
  .highlight__img {
  min-height: 25.5rem;
}
.highlight__text {
  margin-top: 2.5rem;
}
}
